/* -   放大镜 - */
.MagicZoomBigImageCont {
	border:			1px solid #A5E5E1;
}
.MagicZoomHeader {
	font:			12px Tahoma, Verdana, Arial, sans-serif;
	color:			#fff;
	background:		#A5E5E1;
	text-align:     center !important;
}
.MagicZoomPup {
	border: 		1px solid #aaa;
	background: 	#ffffff;
	cursor:			hand;
}
.MagicZoomLoading {
	text-align:		center;
	background: 	#ffffff;
	color:			#444;
	border: 		1px solid #ccc;
	opacity:		0.8;
	padding:		3px 3px 3px 3px !important;
	display: 		none;
}
.MagicZoomLoading img {
	padding-top:	3px !important;
}
.MagicThumb {
	cursor: url(zoomin.cur), pointer;
	outline: none;
}
.MagicThumb-zoomed {
	cursor: default;
}
.MagicThumb span {
	display: none;
}
.MagicThumb img {
	border: 1px solid #EAEAEA;
	outline: none;
}
.MagicThumb-image {
	border: 1px solid #cccccc;
	outline: none;
}
.MagicThumb-image-zoomed {
	cursor: url(zoomout.cur), pointer;
}
.MagicThumb-caption {
	color: #333333;
	background-color: #F0F0F0;
	border: 1px solid #CCCCCC;
	border-top: none;
	font-family: Verdana, Helvetica;
	font-size: 11px;
	padding: 8px 16px;
}
.MagicThumb-controlbar {
	display: block;
	height: 18px;
}
.MagicThumb-controlbar a {
	display: block;
	width: 18px;
	height: 18px;
	margin: 0px 1px;
	outline: none;
	float: left;
	overflow: hidden;
}
.MagicThumb-controlbar a span {
	display: block;
	width: 1000px;
	height: 1000px;
	background: transparent url(controlbar.png) no-repeat 0 0;
	outline: none;
	position: absolute;
	left: 0px;
	top: 0px;
}
.MagicThumb-loading {
	border: 1px solid #000000;
	background: #ffffff url(loader.gif) no-repeat 2px 50%;
	padding: 2px 2px 2px 22px;
	margin: 0;
	text-decoration: none;
	text-align: left;
	font-size: 8pt;
	font-family: sans-serif;
}
