<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>Example Tabs</title>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<style type="text/css" media="screen">@import "basic.css";</style>
	<style type="text/css" media="screen">@import "tabs.css";</style>
</head>

<body>
	<h1><a href="index.html">Example Tabs</a></h1>
	<div id="header">
	<ul id="primary">
		<li><a href="index.html">Home</a></li>
		<li><a href="about.html">About Us</a></li>
		<li><a href="portfolio.html">Our Portfolio</a></li>
		<li><span>Contact Us</span></li>
	</ul>
	</div>
	<div id="main">
		<div id="contents">
			<h2>Contact Us</h2>			
			<p class="note">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur viverra ultrices ante.</p>
			<p>Suspendisse magna dui, porta in, condimentum at, molestie nec, augue. Quisque vulputate facilisis ipsum.  Aenean sollicitudin quam sed ante. Donec at nunc. In hac habitasse platea dictumst. Suspendisse quis lorem sit amet eros congue volutpat. Nam laoreet ultricies pede. Nulla vestibulum, pede eget varius vestibulum, nisl mi aliquet nisl, eget eleifend quam dui faucibus tortor. Maecenas justo. In lacus nisl, tempus at, aliquam nec, ornare in, metus. Maecenas hendrerit mauris vitae purus. Cras id sem.</p>
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur viverra ultrices ante. Aliquam nec lectus. Praesent vitae risus. Aenean vulputate sapien et leo. Nullam euismod tortor id wisi. Sed facilisis, augue in ultrices fringilla, purus nisl euismod nibh, a placerat lacus quam sed elit.</p>
			<p>Sed purus neque, suscipit vitae, cursus vitae, porttitor non, dui. Mauris volutpat dui vitae sapien. Duis laoreet nibh vitae sem. Phasellus ornare. Morbi sollicitudin mi ut nibh. Morbi egestas elementum tellus.</p>
			<p>Suspendisse magna dui, porta in, condimentum at, molestie nec, augue. Quisque vulputate facilisis ipsum.  Aenean sollicitudin quam sed ante. Donec at nunc. In hac habitasse platea dictumst. Suspendisse quis lorem sit amet eros congue volutpat. Nam laoreet ultricies pede. Nulla vestibulum, pede eget varius vestibulum, nisl mi aliquet nisl, eget eleifend quam dui faucibus tortor. Maecenas justo. In lacus nisl, tempus at, aliquam nec, ornare in, metus. Maecenas hendrerit mauris vitae purus. Cras id sem.</p>
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur viverra ultrices ante. Aliquam nec lectus. Praesent vitae risus. Aenean vulputate sapien et leo. Nullam euismod tortor id wisi. Sed facilisis, augue in ultrices fringilla, purus nisl euismod nibh, a placerat lacus quam sed elit.</p>
			<p>Sed purus neque, suscipit vitae, cursus vitae, porttitor non, dui. Mauris volutpat dui vitae sapien. Duis laoreet nibh vitae sem. Phasellus ornare. Morbi sollicitudin mi ut nibh. Morbi egestas elementum tellus.</p>
			<p>Suspendisse magna dui, porta in, condimentum at, molestie nec, augue. Quisque vulputate facilisis ipsum.  Aenean sollicitudin quam sed ante. Donec at nunc. In hac habitasse platea dictumst. Suspendisse quis lorem sit amet eros congue volutpat. Nam laoreet ultricies pede. Nulla vestibulum, pede eget varius vestibulum, nisl mi aliquet nisl, eget eleifend quam dui faucibus tortor. Maecenas justo. In lacus nisl, tempus at, aliquam nec, ornare in, metus. Maecenas hendrerit mauris vitae purus. Cras id sem.</p>
		</div>
	</div>
</body>
</html>
