body,td,th {
	color: #000000;
	font-size: 12px;
	font-weight: normal;
}
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
a:link {
	text-decoration: none;
	color: #333333;
}
a:visited {
	text-decoration: none;
	color: #333333;
}
a:hover {
	text-decoration: none;
	color: #0066FF;
}
a:active {
	text-decoration: none;
}
li{
	line-height: 22px;
	text-align: left;
	list-style-type: none;
	font-size: 12px;
	font-weight: normal;
	float: left;
	width: 94%;
	color: #333333;
}
li a:hover{
	color: #0099FF;
}
li a:visited{
color: #333333;
}
h2{
	margin: 0px;
	padding: 0px;
	float: left;
}
ul{
	width: 96%;
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
	font-weight: normal;
	font-size: 12px;
}
#inbody{
	width: 990px;
	z-index: auto;
	clear: both;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding: 0px;

}
.logo{
	background-image: url(img/logo.gif);
	background-repeat: no-repeat;
	background-position: 5px 10px;
	float: left;
	height: 90px;
	width: 160px;
}
.top01{
	float: left;
	width: 220px;
	margin-left: 80px;
	margin-top: 10px;
	height:80px;
}
.top01 h2{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 22px;
	font-weight: bold;
	color: #CC0000;
	width: 100%;
}
.top01 h2 a{
	color: #CC0000;
}
.top01 h2 a:visited{
	color: #CC0000;
}
.top02{
	float: right;
	width: 490px;
	margin-left: 10px;
	height:90px;
}
.top02 h2{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 22px;
	font-weight: bold;
	color: #333333;
	width: 100%;
}
.top02 .nav{
padding-left:130px;
}
.top02 h2 a{
	color: #333333;
	}
.top02b{
	height: 40px;
}
.foot01{
	font-size: 12px;
	line-height: 20px;
	font-weight: normal;
	color: #000000;
	width: 990px;
	border-top-width: 4px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: dashed;
	border-top-color: #42A7CC;
	border-bottom-color: #CCCCCC;
	margin-top: 8px;
}
.foot02{
	height: 50px;
	width: 990px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
}

.foot02 img{
	margin: 5px;
	float: left;
}
.foot03{
	font-size: 12px;
	line-height: 22px;
	font-weight: normal;
	float: left;
	height: 90px;
	width: 450px;
	text-align: center;
}
.foot04{
	font-size: 14px;
	line-height: 22px;
	font-weight: normal;
	float: left;
	height: 70px;
	width: 350px;
	margin-top: 20px;
}
.dh01{
	font-size: 14px;
	line-height: 30px;
	font-weight: bold;
	color: #FFFFFF;
	background-image: url(img/dh02.gif);
	background-repeat: repeat-x;
	letter-spacing: 3px;
	width: 883px;
}
.dh01 a{
	color: #FFFFFF;
}
.dh01 a:visited{
	color: #FFFFFF;
}
.dh02{
	font-size: 12px;
	line-height: 30px;
	font-weight: normal;
	color: #000000;
	background-color: #EBEBEB;
	float: left;
	height: 15px;
	width: 970px;
	margin-left: 2px;
	text-indent: 80px;
	height:100%;
}
.tu100{
	float: left;
	width: 105px;
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
}
.tu100 h2{
	padding: 2px;
	border: 1px solid #CCCCCC;
	float: left;
}
.tu100 h3{
	font-size: 12px;
	line-height: 20px;
	font-weight: bold;
	color: #000000;
	height: 40px;
	margin: 0px;
	padding: 0px;
	float: left;
}
.tu100 h1{
	font-size: 12px;
	line-height: 20px;
	font-weight: normal;
	color: #333333;
	margin: 0px;
	padding: 0px;
	float: left;
	width:105px;
}
.left{
	background-color: #42A7CC;
	float: left;
	width: 210px;
	margin-top: 8px;
	padding-bottom: 8px;
}

.left200c{
	clear: both;
	float: none;
	width: 200px;
	margin-top: 5px;
	margin-right: auto;
	margin-bottom: 5px;
	margin-left: auto;
	font-size: 14px;
	line-height: 25px;
	font-weight: bold;
	color: #FFFFFF;
	background-image: url(img/left01.gif);
	background-repeat: no-repeat;
	text-align: center;
	width: 200px;
}
.left200{
	background-color: #94CDE2;
	margin-top: 5px;
	padding: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	float: none;
	width: 200px;
	clear: both;
}
.left200 li{
	width: 180px;
	float: left;
}
.left200d{
	background-image: url(img/left06.gif);
	background-repeat: no-repeat;
	clear: both;
	float: none;
	width: 200px;
	margin-top: 5px;
	margin-right: auto;
	margin-bottom: 5px;
	margin-left: auto;
	height: 25px;
}
.left01{
	width: 190px;
	background-color: #94CDE2;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
	padding: 5px;
}
.left02{
	width: 200px;
	background-image: url(img/left04.gif);
	background-repeat: repeat-y;
	height: 80px;
}
.leftgg{
width:95%; 
line-height:150%;
font-size:10pt;
word-break: break-all;
overflow:hidden;
white-space:normal; 
}
.right{
	float: right;
	width: 770px;
	margin-top: 8px;
}
.right770{
	float: left;
	width: 770px;
}
.right570{
	float: left;
	width: 670px;
	margin-left: 10px;
}
.right150{
	float: left;
	width: 200px;
	font-size: 14px;
	line-height: 25px;
	font-weight: bold;
	height: 25px;
	text-align: right;
}
.right400{
	float: left;
	width: 450px;
	font-size: 14px;
	line-height: 25px;
	font-weight: bold;
	height: 25px;
	margin-left: 20px;
}
.right401{
	float: left;
	width: 450px;
	font-size: 12px;
	line-height: 20px;
	height: 25px;
	margin-left: 20px;
}
.right400 span{
color:#FF0000;
}
.r01{
	background-image: url(img/c01.gif);
	background-repeat: no-repeat;
	background-position: 10px;
	font-size: 14px;
	line-height: 22px;
	font-weight: bold;
	width: 200px;
	color: #E37222;
	text-indent: 40px;
}
.r01_sort{
	background-image: url(img/c01.gif);
	background-repeat: no-repeat;
	background-position: 10px;
	font-size: 14px;
	line-height: 22px;
	font-weight: bold;
	color: #E37222;
	text-indent: 40px;
	width:600px;
	display:block;
}
.r02{
	background-image: url(img/c02.gif);
	background-repeat: repeat-x;
	background-position: 15px;
	width: 550px;
}
.r02_sort{
	background-image: url(img/c02.gif);
	background-repeat: repeat-x;
	background-position: 100% 40%;
	width:130px;
}
.r03{
	font-size: 18px;
	line-height: 42px;
	font-weight: bold;
	color: #CC0000;
	text-indent: 10px;
}
.r04{
	font-size: 14px;
	font-weight: bold;
	color: #000000;
}
.r05{
	font-size: 14px;
	line-height: 25px;
	font-weight: bold;
	background-color: #E7E7E7;
	text-align: right;
}
.r06{
	background-image: url(img/c01.gif);
	background-repeat: no-repeat;
	background-position: 10px;
	width: 30px;
}
.r07{
	background-image: url(img/c02.gif);
	background-repeat: repeat-x;
	font-size: 14px;
	line-height: 22px;
	font-weight: bold;
	color: #FF9900;
	width: 720px;
	background-position: bottom;
	text-indent: 20px;
}
.r320{
	margin: 10px;
	float: left;
	width: 320px;
}
.show{
	font-size: 14px;
	line-height: 22px;
	font-weight: normal;
	width: 770px;
}
.show300{
	float: left;
	width: 300px;
	margin-top: 8px;
	margin-right: 8px;
	margin-bottom: 8px;
}
.show420{
	float: left;
	width: 420px;
}
.show420 li{
	font-size: 14px;
	line-height: 22px;
	margin-top: 3px;
}

.errmsg{
list-style-type: lower-roman;
}

.errmsg li{
list-style-type:lower-roman;
}
label.jserror {
	/* remove the next line when you have trouble in IE6 with labels in list */
	display: none;
	color: red;
	font-style: italic;
	display:inline; 
	float:none; 
}
div.jserror { display: none; }
input:focus { border: 1px dotted black; }
input.jserror { border: 1px dotted red; }

.photo {
	background-color: #FFFFFF;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 13px;
	padding-left: 0px;
	border: 1px solid #CCCCCC;
}
.new {
	background-image: url(img/new.jpg);
	background-repeat: no-repeat;
	background-position: right bottom;
}


.payidspan{
display:none;
color:#FF0000;
clear:both;
}
.right4002{
	height:100%;
	_height:25px;
}