{include file='ad_top.html'}
<base target="right">
<BODY leftmargin="0" topmargin="0" marginheight="0" marginwidth="0">
<table cellpadding=0 cellspacing=0 width=158 align=center>
  <tr>
    <td height=20 align="center" background="images/admin1.gif"><b><font color="#FFFFFF">{t}网站参数与管理信息{/t}</font></b></td>
  </tr>
  <tr>
    <td height=20 align="center"><table cellpadding=0 cellspacing=0 align=center width=135 id="table4">
        <tr>
          <td height=18 width="50%"><a target="right" href="ad_admin.asp">{t}管 理 员{/t}</a></td>
          <td height=18 align="center" width="50%"><a target="_top" href="ad_quit.asp">{t}退出{/t}</a></td>
        </tr>
		<tr>
          <td height=18 width="50%"><a href="ad_upsystem.asp">{t}网站参数{/t}</a></td>
           <td height=18 width="50%"><a href="ad_clearcache.asp">{t}清空缓存{/t}</a></td>
        </tr>
		<tr>
          <td height=18 width="50%"><a href="ad_promo.asp">{t}优惠码{/t}</a></td>
           <td height=18 width="50%"><a href="ad_updatealias.asp">Update Alias</a></td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td height=20 align="center" background="images/admin1.gif"><b><font color="#FFFFFF">{t}商品管理{/t}</font></b></td>
  </tr>
  <tr>
    <td height="20"><table cellpadding=0 cellspacing=0 align=center width=135>
        <tr>
          <td height=18 width="50%"><a href="ad_delhw.asp">{t}查看{/t}</a></td>
		  <td height=18><a href="ad_delhw.asp?quehuo=yes">{t}缺货{/t}</a></td>
        </tr>
		<!--<tr>
          <td height=18 width="50%"><a href="ad_changeprice.asp">{t}修改价格{/t}</a></td>
		  <td height=18></td>
        </tr>-->
      </table></td>
  </tr>
  <tr>
    <td height=20 align="center" background="images/admin1.gif"><b><font color="#FFFFFF">{t}订单管理{/t}</font></b></td>
  </tr>
  <tr>
    <td height=20 align="center"><table cellpadding=0 cellspacing=0 align=center width=135>
        <tr>
          <td height=18><a href="ad_sub.asp">{t}全部{/t}</a></td>
          <td height=18 align="center"><a href="ad_sub.asp?zt=1">{t}未 处 理{/t}</a></td>
        </tr>
        <tr>
          <td height=18><a href="ad_sub.asp?zt=2">{t}已 付 款{/t}</a></td>
          <td height=18 align="center"><a href="ad_sub.asp?zt=3">{t}已 收 款{/t}</a></td>
        </tr>
        <tr>
          <td height=18><a href="ad_sub.asp?zt=4">{t}已 发 货{/t}</a></td>
          <td height=18 align="center"><a href="ad_sub.asp?zt=5">{t}已 收 货{/t}</a></td>
        </tr>
        <tr>
          <td height=18><a href="ad_sub.asp?zt=0">{t}无效订单{/t}</a></td>
           <td height=18 align="center"><a href="ad_basket.asp">{t}购 物 车{/t}</a></td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td height=20 align="center" background="images/admin1.gif"><b><font color="#FFFFFF">{t}用户管理{/t}</font></b></td>
  </tr>
  <tr>
    <td height="20"><table cellpadding=0 cellspacing=0 align=center width=135>
        <tr>
          <td height=18 width="50%"><a href="ad_user.asp">{t}查看{/t}</a></td>
		  <td height=18 width="50%"><a href="ad_xieyi.asp">{t}注册协议{/t}</a></td>
		</tr>
      </table></td>
  </tr>
  <tr>
    <td height=20 align="center" background="images/admin1.gif"><b><font color="#FFFFFF">{t}支付与送货{/t}</font></b></td>
  </tr>
  <tr>
    <td height=20 align="center"><table cellpadding=0 cellspacing=0 align=center width=135 id="table2">
        <tr>
          <td height="18"><a href="ad_ps.asp">{t}送货方式{/t}</a></td>
          <td align="center" height="18"><a href="ad_pay.asp">{t}支付方式{/t}</a></td>
        </tr>
        <tr>
          <td height="18"><a href="ad_payonline.asp">{t}在线支付{/t}</a></td>
          <td align="center" height="18"></td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td height=20 align="center" background="images/admin1.gif"><font color="#FFFFFF"><b>{t}新闻与公告{/t}</b></font></td>
  </tr>
  <tr>
    <td height="20"><table cellpadding=0 cellspacing=0 align=center width=135>
        <tr>
          <td height=18><a href="ad_addnews.asp">{t}新闻添加{/t}</a></td>
          <td height=18 align="center"><a href="ad_delnews.asp">{t}修改删除{/t}</a></td>
        </tr>
        <tr>
          <td height=18><a href="ad_gg.asp">{t}公告设置{/t}</a></td>
          <td height=18 align="center"><a href="ad_guest.asp">{t}查看留言{/t}</a></td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td height=20 align="center" background="images/admin1.gif"><font color="#FFFFFF"><b>{t}友情链接{/t}</b></font></td>
  </tr>
  <tr>
    <td height=20 align="center"><table cellpadding=0 cellspacing=0 align=center width=135>
        <tr>
          <td width="50%" height="18"><a href="ad_links.asp">{t}友情链接{/t}</a></td>
          <td width="50%" align="center" height="18"></td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td height=20 align="center" background="images/admin1.gif"><font color="#FFFFFF"><b>{t}帮助信息设置{/t}</b></font></td>
  </tr>
  <tr>
    <td height=20 align="center"><font color="#3366CC"><a href="ad_type.asp"><font color="#FF0000">{t}分类内容管理{/t}</font></a></font></td>
  </tr>
  <tr>
    <td height="20"><div align="center">
        <table width="95%" border="0" cellspacing="0" cellpadding="0">
          <tr>
           {foreach item=t from=$types key=t_ct}
            <td align="center" height=18><a href="ad_booktype.asp?typeid={$t.id}">{$t.typename}</a></td>
            {if ($t_ct+1) mod 2 == 0}
          	</tr>
          	<tr>
            {/if}
			{/foreach}
          </tr>
        </table>
      </div></td>
  </tr>
</table>
