{include file='ad_top.html'}
<table width="100%" border="0" cellpadding="0" style="border-collapse: collapse" bordercolor="#111111" bgcolor="#F5EFE7">
<form name="form" method="post" action="ad_xieyi.asp?action=save">
<tr><td style="PADDING-LEFT: 6px" height="30"> 
<b>{t}注册协议{/t}</b></td>
</tr>
<tr> 
<td style="PADDING-LEFT: 6px" height="30"><IFRAME ID="eWebEditor1" src="eWebEditor/ewebeditor.htm?id=reg&style=coolblue" frameborder="0" scrolling="no" width="550" height="350"></IFRAME></td>
</tr>
<tr> 
<td height="32" style="PADDING-LEFT: 6px"> 
<div align="center"> 
<input type="submit" value="{t}修改{/t}" name="B1" class="input">
<input name="reg" type="hidden" id="reg" value="{$reg}">
</div></td>
</tr></form>
</table>