<div class="bg_box_gray big allborder pad_10px margin_t pad_l_28px">
			<h2 class="line_30px">Note:</h2>
				<span class="red b">
				Canon IXUS and Powershot SD are completely same product with different name. 
For the product, it is called Canon IXUS or Powershot SD in different consuming region. Based on such reason,we can only arrange your order according to our sotck, which means you will get Canon IXUS or Powershot SD by chance, but both with the same quality guarantee. Please read above note carefully. 
Once you paid for the product, it means you have agreed on our terms.  
Thanks for your understand and cooperation.	
			  </span>
			</div>