<div class="notice_1">
<ul class="mycon" style="font-size: 12px; color: rgb(32, 79, 19);">
    <div style="font-weight: bold; font-size: 16px;">
	    <span class="red">Must Read before You Make The Order<br/></span>
    </div>
    <strong>1. About Size Choice:</strong> Carefully view the SIZE on both Length and Chest beofore placing your order, as the Jersey is a non-refundable product.<br/>
    <strong>3. About Item Request:</strong> To prevent you from writing an item request in a review , Pls kindly refer following steps when you are ordering: you should submit your item request in COMMENT BOX which will show up after you complete the SHIPPING ADDRESS and PAYMENT METHOD.<br/>
    <strong></strong></ul>
    <strong><em></em></strong>
</div>