<div class="notice_1">
<ul class="mycon" style="font-size: 12px; color: rgb(32, 79, 19);">
    <div style="font-weight: bold; font-size: 18px;">This phone will work with GSM network<span style="color: rgb(234, 2, 18);"> 850/900/1800/1900</span> mHz.</div>
    <br/>
    Please check if your local area Network is compatible with this phone.<br/>
    You can <button onclick="window.open('http://www.gsmworld.com/roaming/gsminfo/index.shtml')"><span style="font-weight: bold; font-size: 12px; color: rgb(32, 79, 19);">Click here</span></button> to see Network Frequency for your country<br/>
    Please confirm with your carriers or providers before you purchase this item.</ul>
    <em> </em></div>