#correct_button{width:102px; height:23px; line-height:23px; padding-left:10px; cursor:pointer; background:url(images/corrent_bg.png) left top no-repeat; position:absolute; z-index:9001;}
.correct-container {z-index:9002; position: absolute;text-align: left; display:none;}
#correct_win{display: none;width:554px; background:#FFF; overflow:hidden; border:1px solid #666; -moz-box-shadow: 0 0 1em #CCC;}
#correct_win_head{zoom:1; overflow:hidden; background:#F5F5F5; border-bottom:1px solid #DCDDDD; cursor:move; height:26px; line-height:26px; padding:0 8px 0 8px;}
#correct_win_head span{display:block;}
.correct_win_title{float: left; font-size:12px; font-weight:bold;margin-left: 8px;}
#correct_win_close{float: right; margin-top: 4px; width: 20px; height: 19px; background: url(images/icons.gif) 0 -48px;}
#to_correct_content{height: 82px; overflow: auto; padding: 0 12px;}
.correct_win_body{ margin: 0 16px 16px; padding: 16px 0 0; text-align:left;}
.correct_win_body legend{margin-left: 21px;}
.correct_win_body fieldset{border:1px solid #CCC;}
.correct_win_body fieldset legend{font-weight:bold; color:#1E50A2;}
.correct_win_body fieldset p{padding:0 4px;}
.correct_body {zoom: 1; border: 1px solid #CCC; position: relative; padding: 12px 0; margin-top: 22px;}
.correct_body span {position: absolute; background: #FFF; top: -8px; left: 16px;}
.correct_blue_head{font-weight:bold; color:#1E50A2;}
.correct_head_font{font-weight:bold; color:#000;}
.correct_ta{width: 520px; border:1px solid #DBDCDC; background:url("images/backgrounds1.3.png") no-repeat scroll 290px -232px #FFFFFF; color:#666666; font-size:14px; height:110px; line-height:1.5em;}
.no_float{zoom:1; overflow:hidden;}
.fl_left{float:left; display:block;}
.fl_right{float:right; display:block;}
.correct_win_foot{ margin: 16px 16px 0; padding: 0 0 16px; }
.correct_blue{color:#1E50A2;}
.correct_user{padding-top:4px;}
.correct_submit{ width: 77px; height: 28px; background:url(images/icons.gif) 0 -95px; border:none;  cursor:pointer; }
.correct_cancel{ margin-right: 1em; border: none; cursor: pointer; width: 68px; height: 28px; background:url(images/icons.gif) 0 -67px; }
.correct_title{font-size:14px; padding: 0;}
#correct_result_win{z-index:9003; position:absolute; width:500px; background:#FFF; overflow:hidden; border:1px solid #666; -moz-box-shadow: 0 0 1em #CCC;}
.correct_result { padding: 6px 0 0 92px; background: url(images/icons.gif) no-repeat 20px -179px; }
.correct_win_body ul li{ line-height: 21px; }
.correct_close{ background:url(images/icons.gif) no-repeat 0 -123px; cursor: pointer; height: 28px; width:77px; border: none; }
.correct_win_foot_text{padding:5px 6px 0 10px;}
.icon-pen {float: left; width: 16px; height: 13px; background:url("images/icons.gif") no-repeat 0 -35px; margin-top: 7px; font-size: 0;}	
.icon-dialog {float: left; width: 15px; height: 13px; background:url("images/icons.gif") no-repeat 0 0; margin-top: 4px; margin-right: 8px;}
#btn_wrapper {display: block;}
#btn_correct {position: relative; background: url("images/btn-correct.gif") no-repeat;width: 106px;height: 23px;}	
#close_correct { height: 17px;position: absolute;right: 5px;top: 3px;width: 18px;cursor: pointer }
input.toLogin { background:url(images/icons.gif) 0 -151px transparent; height: 28px; width: 77px; border: none; cursor: pointer; }
.register { color: #1e50a2 }