<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ajax漫画查看器</title>
<script language="javascript" src="/media/js/lib/jquery-1.5.2.min.js"></script>
<script language="javascript" src="/media/js/show.js"></script>
</head>

<body>
<form action="/" method="post">
<label>请输入网址</label><input type="text" name="url" value="{{ url }}" />
<input type="submit" value="提交" />
</form>
{% block contents %}{% endblock %}
</body>
</html>
