{$header}
  <table width="920px" border=0 cellpadding=0 cellspacing=0 bgcolor="#FFFFFF" height="300">
    <tr>
      <td width=181 align="center" valign="top">
	  	<script language="javascript" src="{$ServerPath}ajax.asp?func=log"></script>
		{include file="insort.html"}
      </td>
      <td valign="top" align="center">
			<table border="0" cellpadding="0" cellspacing="0" width="100%" background="{$serverstyle}img/pattern.gif" style="border: 1px solid #C0C0C0">
                <tr>
                  <td height="30" colspan="7"><p style="margin-left: 20px"><b>Shopping Cart:</b></td>
                </tr>
                <tr height="30" class="tr_bottom">
                  <td></td>
				  <td>Pic</td>
                  <td>SN</td>
                  <td>Product</td>
                  <!--<td>Price</td>-->
				  <td>Size </td>
                  <td>Quantity </td>
                  <!--<td>Total</td>-->
                  <td>Modify</td>
                  <td></td>
                </tr>
				  {assign var='totalcash' value="0"}
				  {foreach item=basket from=$basketlist}
                <form name="form1" method="POST" action="?action=change&basket_id={$basket.basket_id}">
                  <tr class="tr_bottom">
                    <td></td>
					<td><img src="{$config.pic_url}{$basket.hw_sn}.jpg" width="64" height="48" /></td>
                    <td><a target="_blank" href="{$ServerPath}{$basket.alias}.html">{$basket.hw_sn}</a></td>
                    <td><a target="_blank" href="{$ServerPath}{$basket.alias}.html">{$basket.hw_name}</a></td>
                    <!--<td>{$basket.hw_price}</td>-->
                    <td>{$basket.hw_size}</td>
                    <td><input type="text" name="count" size="2" value="{$basket.basket_count}" class="input"></td>
                    <!--<td>{$basket.basket_count*$basket.hw_price}</td>-->
                    <td><input type="submit" value="Edit QYT" name="B1">
                      <input onClick="javascript:window.open('{$ServerPath}buy.asp?action=del&basket_id={$basket.basket_id}','_self','')" type="button" value="Del"></td>
                    <td></td>
                  </tr>
                </form>
               {assign var='totalcash' value="`$totalcash+$basket.basket_count*$basket.hw_price`"}
               {foreachelse}
               	<tr>
                  <td height="30" colspan="7" align="center" class="border_bottom">No Product in your Shopping Cart</td>
                </tr>
               	{/foreach}
                <!--
                <tr>
                  <td height="30" colspan="7" align="center">
                    Subtotal:<font color="#FF0000">${$totalcash}</font>&nbsp;
                    wholesale total quantity: >5 (all kind shoes total quantity).  retail,contact us with MSN. </td>
                </tr>-->
                <tr>
                  <td height="30" colspan="7" align="center"><input onClick="javascript:window.open('javascript:history.go(-1)','_self','')" type="button" value="Continue Shopping">
                    &nbsp;
                    <input onClick="javascript:window.open('{$ServerPath}cash.asp','_self','')" type="button" value="Check Out">
                  </td>
                </tr>
              </table>
      </td>
    </tr>
  </table>
{$footer}