<table cellSpacing="0" cellPadding="0" border="0" width="171"><form method="post" action="#" onSubmit="return submit_dy(this);">
<tr><td align="center" height="8"></td></tr>
<tr><td align="center" background="{$serverstyle}img/dy.gif" height="79">
<table border="0" cellpadding="3" cellspacing="0"><tr><td height="15" colspan="2"></td></tr>
<tr><td align="right"><input name="useremail" size="12" class="input"></td>
<td><input name="submit" type="IMAGE" border="0" src="{$serverstyle}img/dybutton.gif"></td>
</tr></table></td></tr></form></table>