document.write('<table cellSpacing="0" cellPadding="0" border="0">')
document.write('	<tr>')
document.write('		<td><img src="{$serverstyle}img/login6.gif" border="0" /></td>')
document.write('	</tr>')
document.write('	<tr>')
document.write('		<td align="middle"><img src="{$serverstyle}img/login3.gif" border="0"></td>')
document.write('	<tr>')
document.write('		<td align="middle" background="{$serverstyle}img/login5.gif"><p style="line-height: 150%">')
				{if $hadLogin}
document.write('				[<a href="{$ServerPath}modify.asp">{$username}</a> / <a href="{$ServerPath}quit.asp">Quit</a>]<br>')
document.write('				<a href="{$ServerPath}userinfo.asp">Info</a> <a href="{$ServerPath}orders.asp">Order Status</a><br>')
document.write('				<a href="{$ServerPath}modify.asp">Infomation</a><br>')
document.write('				<a href="{$ServerPath}changepass.asp">Change Password</a><br>')
document.write('				<a href="{$ServerPath}buy.asp">View Cart({$viewcount})</a>')
				{else}
document.write('				<a href="{$ServerPath}reg.asp">Register</a> / <a href="{$ServerPath}login.asp">Login</a><br>')
document.write('				<a href="{$ServerPath}buy.asp">View Cart(0)</a>')
				{/if}
document.write('				</p></td>')
document.write('	</tr>')
document.write('	<tr>')
document.write('		<td align="middle"><img src="{$serverstyle}img/login4.gif" width="171" height="6" border="0"></td>')
document.write('	</tr>')
document.write('	<tr>')
document.write('		<td><a href="{$ServerPath}help.asp" target="_blank"><img src="{$serverstyle}img/login7.gif" border="0"></a></a></td>')
document.write('	</tr>')
document.write('</table>')
